.ex-join-league-class {
  width: 100%;
    height: 58px;
    display: flex;
      box-shadow: 1px 1px 5px #e1e1e1;
    margin-top: 6px;
    background-color: #ffffff;
}

.ex-join-league-ax {
      width: calc(100% - 38px);
  height: 100%;
}

.ex-join-league-class-title {
      width: 100%;
    height: 56%;
  display: flex;
  align-items: center;
  padding-left: 11px;
}

.ex-join-league-class-sub {
      width: 100%;
    height: 44%;
  display: flex;
  align-items: center;
  padding-left: 11px;
}

.ex-join-league-ap {
      display: flex;
    width: 38px;
    justify-content: space-around;
    align-items: center;
}

.league-class-title {
  font-size: 18px;
  color: var(--black0);
}

.league-class-team {
  font-size: 14px;
  color: #909090;
}

.ex-join-league-ap span {
  font-weight: 200;
  font-size: 29px;
}

.ex-join-league-button {
  width: 100%;
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0 11px;
    justify-content: space-between;
}

.ex-join-league-roomCreate {
  display: flex;
    width: 94%;
    border-radius: 7px;
    margin: 0 auto;
    height: 44px;
  display: none;
    box-shadow: 0 0 4px #e1e1e1;
}

.ex-join-league-roomCreate button {
  width: 52px;
    border-radius: 0 7px 7px 0;
    height: 100%;
  font-size: 15px;
}

.ex-join-league-roomCreate input {
      border-radius: 7px 0 0 7px;
    padding-left: 11px;
    width: calc(100% - 52px);
    font-size: 17px;
    height: 100%;
}

.roomCreate {
  color: var(--black0);
}

.roomCreateCancel {
  color: #ff0000;
}

.league-class-load {
  width: 100%;
  height: 30px;
  text-align: center;
}

.league-class-load span {
  font-size: 16px;
  color: var(--special3);
}

.ex-join-league-button-right span {
  font-size: 25px;
  font-weight: 200;
}

.leaguecontents-room-brv.vx {
  right: 0;
  z-index: 10;
}

.leaguecontents-allPlayers-team {
  width: 100%;
    overflow: auto;
  height: 194px;
      position: relative;
      background-color: #f9f9f9;
}

.leaguecontents-allPlayers-team > .inner {
      height: 150px;
    position: absolute;
    bottom: 0;
      width: auto;
    overflow-x: auto;
    display: inline-flex;
  left: 0;
}

.leaguecontents-allPlayers-team-ind {
      width: 109px;
    padding: 0 3px;
    height: 100%;
    position: relative;
}

.leaguecontents-allPlayers-team::-webkit-scrollbar {
  display: none;
}

.leaguecontents-allPlayers {
  width: 100%;
  height: 398px;
}

.leaguecontents-allPlayers-team-ind-face {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
}

.leaguecontents-allPlayers-team-ind-face > img {
  width: 100%;
}

.leaguecontents-allPlayers-team-ind-bot {
  width: 100%;
  height: 30px;
  text-align: center;
}

.leaguecontents-allPlayers-team-ind-name {
  font-size: 18px;
}

.leaguecontents-allPlayers-team.lati-team2 {
  margin-top: 11px;
}

.leaguecontents-team1-sers, .leaguecontents-team2-sers {
  font-size: 24px;
  font-family: 'SB Aggro';
  color: #ff0000;
      position: sticky;
    top: 12px;
    width: 100%;
    left: 11px;
    display: block;
}

.leaguecontents-league-staa {
      background-color: #0A0A2E;
    position: absolute;
    top: 48px;
    right: 0;
    padding: 5px 12px;
  z-index: 1;
}

.leaguecontents-league-staa span {
    font-size: 18px;
    color: #ffffff;
}