/* 2022.10.07 ~ */
:root {
  --white0: #ffffff;
  --white1: #fcfcfd;
  --white2: #eeeeee;
  --white3: #fafafa;
  --white4: #f9f9f9;
  --white5: #d7d8eb;
  --white6: #e1e1e1;
  --white7: #f1f1f1;
  --black0: #000000;
  --black1: #212121;
  --special0: #080b31;
  --special1: #2d3165;
  --special2: #313131;
  --special3: #900c3f;
  --special4: #27438c;
  --special5: #afb9d4;
  --hh: 45px;
}

/*
2020.09.29 ~ 2022.10.06
:root {
  --bg: #fcfcfd;
  --hc: #ffffff;
  --hh: 45px;
  --bd: #eeeeee;
  --es: #fafafa;
  --lc: #080b31;
  --lc2: rbga(8,11,49,.61);
  --fh: #000000;
  --lb: #2d3165;
  --lm: #d7d8eb;
  --ns: #f9f9f9;
  --fa: #000000;
  --fg: #fafafa;
  --ma: #ffffff;
  --fsc: #000000;
  --fuc: #313131;
  --fc: #fafafa;
}
*/