.shouting {
  width: 100%;
  height: 100px;
  background-color: var(--white0);
  position: relative;
}

.shouting > .inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.shouting span {
  font-size: 18px;
  color: var(--black0);
}

.change-shouting {
  position: absolute;
  font-size: 10px!important;
  bottom: 7px;
  right: 7px;
  color: var(--special3);
  font-weight: 100;
}